<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="TnaHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\IntelliSync\IntelliSync\envs\venv-tna\Scripts\python.exe|D:\IntelliSync\IntelliSync\envs\venv-tna\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\IntelliSync\IntelliSync\projects\TnA" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="MAIN.settings" />
    </appSettings>
</configuration>
